.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  width: 100vw;
  height: 100vh;
}



form input{
  width: 25.7rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid grey;
  background-color: black;
 font-size: 1.2rem;  
}

form button{
  width: 30%;
  padding: 10px;
  background-color: dodgerblue;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  color: white;

}
form p{
  color: red;
}
input[type="text"],input[type="email"],input[type="password"]{
  /* border: none; */
  background-color: black;
  color: grey;
}